@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .topic {
    @apply relative text-lg font-bold before:absolute before:-bottom-3 before:left-0 before:h-0 before:w-0 before:border-r-8 before:border-t-8 before:border-solid before:border-r-transparent before:border-t-primary-color before:content-[''] after:absolute after:-bottom-2 after:left-0 after:h-1 after:w-20 after:bg-primary-color after:content-[''];
  }
  .top_coursesImage {
    @apply aspect-video w-full rounded border-2 border-white object-cover shadow-secondary transition-colors hover:border-primary-color;
  }
  .top_courses_description {
    @apply self-center text-xs text-darker-light transition-colors hover:text-primary-color lg:text-lg;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
}
.swiper-button-prev,
.swiper-button-next {
  width: 32px !important;
  height: 28px !important;
}
.swiper-item:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 65%;
  transition: opacity 0.2s;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.75)
  );
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.swiper-item:hover:after {
  opacity: 70%;
}
.Just4Rows {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.Just3Rows {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
